
@import "../../libs/normalize-less/normalize.less";

@mainColor: #1d1d29;
@orangeButton: #fc7138;
@blueContent: #0097e6;
@darkPurple: #2b2644;

.boxShadow(@x:0px, @y:1px, @blur:3px, @color:rgba(0,0,0,.3)){
	box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
	-o-box-shadow: @arguments;
}

.borderRadius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

*{
	margin: 0;
	padding: 0;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

#carousel_main{
	//height: 500px;
	border-bottom: 1px solid #000;
}

.carrousel_control{
	width: 100px;
	min-width: 100px;
	right: 10px;
	margin-left: inherit;
	left: inherit;
}

.carousel_main_control{
	position: absolute;
	width: 15px;
	height: 15px;
	color: #fff;
	font-weight: bold;

	&[data-slide="next"]{
		right: 15px;
		bottom: 35px;
	}

	&[data-slide="prev"]{
		right: 90px;
		bottom: 35px;
	}
}

#logo_and_website{
	position: absolute;
	top: 20px;
	left: 20px;
	height: 40px;



	img{
		height: 40px;
		margin-right: 20px;
	}

	span{
		vertical-align: top;
		font-weight: bold;
		font-size: .9em;

		&.blue{
			color: @blueContent;
			font-style: italic;
		}

		&.white{
			color: white;
		}
	}

	hr{
		position: absolute;
		vertical-align: top;
		width: 60px;
		margin: inherit;
		border-color: #fff;
		top: 20px;
		left: 65px;
	}

	@media (max-width:768px) { 
		height: 50px;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;

		img {
			width: 80px;
			height: 80px;
			//margin-right: 20px;
		}
	}
}

nav#site_options{
	position: absolute;
	top: 20px;
	right: 80px;

	@media (max-width:768px) { 
		display: none;
	}

	ul{
		list-style: none;

		li{
			display: inline-block;
			font-weight: bold;
			font-size: .85em;
			margin-left: 10px;

			&.separator{
				
				&.right{
					border-right: 1px solid @blueContent;
					padding-right: 15px;
				}
			} 

			a{
				text-decoration: none;
				color: #fff;
			}

			span{
				&.orange{
					color: @orangeButton;
				}

				&.blue{
					color: @blueContent;
				}
			}
		}
	}
}

a#selector_language{
	position: absolute;
	border: 2px solid @blueContent;
	border-right: transparent;
	height: 32px;
	width: 50px;
	top: 15px;
	right: 0px;
	padding-top: 3px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;

	span{
		font-size: .7em;
		font-weight: bold;
		padding-left: 5px;
	}

	span:nth-child(2){
		color: white;
	}
}

#nav_main{
	position: absolute;
	top: 60px;
	right: 30px;

	@media (max-width:768px) { 
		display: none;
	}

	ul{
		list-style: none;

		li{
			display: inline-block;
			font-weight: bold;
			font-size: .8em;
			margin-left: 20px;

			span{
				color: #B6B6B6;	
				padding-bottom: 5px;			
			}

			a{
				text-decoration: none;
				&:hover{
					span{
						color: #fff;
						border-bottom: 2px solid @blueContent;
					}
				}
			}
		}
	}
}

#container-description-services{
	min-height: 230px;

	#family_pool{
		height: 230px;
		background: url("../../img/family_pool.jpg");
		background-size: 100% 100%;
    	background-repeat: no-repeat;
	}

	#little_corousel{
		height: 230px;
		background: #000;
		padding-right: 0px;
		padding-left: 0px;

		.caption{
			text-align: center;
			color: #fff;
			padding: 10px;

			hr{
				margin: 0 auto;
				width: 80px;
				border-color: @orangeButton;
			}

			h3{
				font-size: .8em;	
			}

			h2{
				font-size: .9em;
			}

			p{
				font-size: .9em;

				@media (max-width:768px) { 
					display: none;
				}	
			}
		}
	}
}

#white_box_announcement{
	text-align: center;

	h3{
		font-size: 1.1em;
	}
	
	h2{
		font-size: 1.4em;
	}

	p{
		font-size: 1em;
	}

	hr{
		width: 25%;
		margin: 0 auto;
	}
}


#main_announcements{
	position: absolute;
	top: 150px;
	width: 100%;

	@media (max-width:768px) { 
       position: static;
       top: 0px;
    }
}

#announcement_big{
	color: #fff;
	text-align: center;

	h2{
		font-size: 1.3em;
	}

	button{
		background: @orangeButton;
		padding: 10px 15px;
		border: none;
	}

	@media (max-width:768px) { 
		h2, h1{
			color: @darkPurple !important;
		}


	}
}

#box_reservation{
	position: static;
	padding: 20px;

	div{
		min-height: 140px;
	}

	#container_book{
		position: relative;
		min-height: 100px;
		//.boxShadow();

		h1{
			width: 10px;
			color: #fff;
		}

		> span{
			position: absolute;
			color: #fff;
			top: 50px;
			left: 75px;
			font-size: .8em;
		}

		> hr{
			position: absolute;
			color: #fff;
			top: 50px;
			left: 70px;
			width: 80px;
			border-color: #fff;
		}

		@media (max-width:768px) { 
			*{
				color: @blueContent !important;
			}
		}
	}

	#view_checks{
		background: #fff;
		.boxShadow();

		ul{
			list-style: none;
			color: #a0afc4;
			margin: 10px auto;
			width: 210px;

			li{
				width: 100px;
				text-align: center;
				display: inline-block;
				
				strong{
					color: #7d899f;
				}
			}

			li:first-child{
				border-right:1px solid #a0afc4;		
			}
		}
	}

	#promo_lauch{
		background: @blueContent;
		text-align: center;
		padding: 10px 20px;	

		*{
			margin-top: 5px;
		}

		span{
			display: block;
			color: #fff;
		}

		strong{
			display: block;
			color: #00689f;
		}

		button{
			background: @darkPurple;
			font-weight: bold;
			color: #fff;
			padding: 10px;
			border: none;
			width: 90%;
		}
	}
}

.place_site{
	background: url("../../img/place.jpg");
	height: 230px;
		background-size: 100% 100%;
    	background-repeat: no-repeat;
}


#footer{
	min-height: 150px;
	padding-top: 50px;
	background: @mainColor;

	#logo_footer{
		img{
			width: 40px;
			height: 40px;
			float: right;
		}
	}

	#nav_footer{
		padding-top: 10px;
		ul{
			list-style: none;

			li{
				display: inline-block;
				font-weight: bold;
				font-size: .8em;
				padding-right: 10px;
				margin-left: 10px;
				border-right: 1px solid  #B6B6B6;	

				span{
					color: #B6B6B6;	
					padding-bottom: 5px;			
				}

				a{
					text-decoration: none;
					&:hover{
						span{
							color: @blueContent;
						}
					}
				}
			}
		}
	}

	#social_sharing{
		
		span{
			padding: 10px;
			vertical-align: super;
			float: right;
		}

		ul{
			list-style: none;
			display: inline-block;
			margin-top: 5px;
			margin-left: 10px;
			float: right;

			li{
				display: inline-block;
				width: 32px;
				height: 32px;
				cursor: pointer;

				&#to_fb{
					background: url("../../img/fb_normal.png");

					&:hover{
						background: url("../../img/fb_hover.png");
					}
				}

				&#to_tw{
					background: url("../../img/tw_normal.png");

					&:hover{
						background: url("../../img/tw_hover.png");
					}
				}

				&#to_gp{
					background: url("../../img/gp_normal.png");

					&:hover{
						background: url("../../img/gp_hover.png");
					}
				}

				&#to_yt{
					background: url("../../img/ytb_normal.png");

					&:hover{
						background: url("../../img/ytb_hover.png");
					}
				}
			}
		}
	}
}
